<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="/images/Artboard 1.png" />
    <title>Contact us</title>
    <link rel="stylesheet" href="/stylesheets/contactus.css">

</head>
<body>
    <header>
        <nav class="cont">
            <a href="/user/home" class="first-link"><div class="logo">Tee<span>Feet</span> </div></a>
            <ul>
                <li><a href="/user/home" >Home</a></li>
                <li><a href="/user/products">Products</a></li>
                <li><a href="/user/contact" class="border">Contact us</a></li>
            </ul>
            <div class="profile">
                <a href="/user/cart" class="btn2">Cart</a>
                <a href="/user/logout" class="btn">Logout</a>
            </div>
        </nav>
        <div class="headimg">
            <img src="/images/5138237.jpg" alt="">
        </div>
    </header>
    <main>
        
        <div class="center">
            <form action="/owner/message" method="post" class="contact-form">
                <input type="text" placeholder="Enter your Name " class="input 1" name="name">
                <input type="email" placeholder="Enter your Email"class="input" name="email">
                <textarea name="message" placeholder="Enter your Message"></textarea>
                <input type="submit" value="Send Now"class="btn">
            </form>
        </div>
    </main>
    <footer>
        <div class="foot-cont">
            <div class="first-foot">
                <div class="location">
                    <h2>Rawalpindi,Pakistan</h2>
                    <h3>+923130510867</h3>
                </div>
            </div>
            <div class="second-foot">
                <h1>Primary Pages</h1>
                <ul>
                    <li><a href="">Cash on delivery Terms and Condition</a></li>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">Return and Exchange Procedure</a></li>
                </ul>
            </div>
            <div class="third-foot">
                <h1>Information links</h1>
                <ul>
                    <li><a href="/user/home">Home</a></li>
                    <li><a href="/user/products">Products</a></li>
                    <li><a href="/user/cart">Cart</a></li>
                </ul>
            </div>
        </div>
        <div class="bottom-line"></div>
        <div class="info">
       <p> &copy 2024 All right reserved by TeeFeet</p>
        </div>
    </footer>
</body>
</html>