<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/images/Artboard 1.png" />
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="log-cont">
      <h1 class="head">Owner<span>Login</span></h1>

      <form class="form" action="/owner/login" method="post">
        <input class="input" type="email" placeholder="Enter your email" name="email" />
        <input class="input" type="password" placeholder="Enter your password" name="password" />
        <input class="btn" type="submit" value="Login"  />
      </form>
    </div>
  </body>
</html>
