<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/images/Artboard 1.png" />
    <title>Register</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="log-cont">
      <h1 class="head">Regis<span>ter</span></h1>

      <form class="form" action="/user/create" method="post">
        <input class="input" type="text" placeholder="Enter your name" name="name" />
        <input class="input" type="text" placeholder="Enter your username" name="username" />
        <input class="input" type="email" placeholder="Enter your email" name="email" />
        <input class="input" type="password" placeholder="Enter your password" name="password" />
        <p class="helo">Already a user <a href="/user/login">login now</a></p>
        <input class="btn" type="submit" value="Create"  />
      </form>
    </div>
  </body>
</html>
